{% extends 'base.html.twig' %}

{% block title %}Social index{% endblock %}

{% block body %}
    <h1>Social index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Url</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for social in socials %}
            <tr>
                <td>{{ social.id }}</td>
                <td>{{ social.name }}</td>
                <td>{{ social.url }}</td>
                <td>
                    <a href="{{ path('social_show', {'id': social.id}) }}">show</a>
                    <a href="{{ path('social_edit', {'id': social.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('social_new') }}">Create new</a>
{% endblock %}
