{% extends 'base.html.twig' %}

{% block title %}CareerStep index{% endblock %}

{% block body %}
    <h1>CareerStep index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Position</th>
                <th>Company</th>
                <th>StartDate</th>
                <th>EndDate</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for career_step in career_steps %}
            <tr>
                <td>{{ career_step.id }}</td>
                <td>{{ career_step.position }}</td>
                <td>{{ career_step.company }}</td>
                <td>{{ career_step.StartDate ? career_step.StartDate|date('Y-m-d') : '' }}</td>
                <td>{{ career_step.EndDate ? career_step.EndDate|date('Y-m-d') : '' }}</td>
                <td>{{ career_step.description }}</td>
                <td>
                    <a href="{{ path('career_step_show', {'id': career_step.id}) }}">show</a>
                    <a href="{{ path('career_step_edit', {'id': career_step.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('career_step_new') }}">Create new</a>
{% endblock %}
